<ion-view class="timi-home" ng-controller="HomeController">
  <!-- Header -->
  <ion-header-bar class='bar-energized' align-title="center">
    <button class="button button-clear icon ion-more"
            ng-click="goToSetting()"></button>
    <div class='title'>
    </div>
    <button class="button button-clear icon ion-compose"
            ng-click="goToCreate()"></button>
  </ion-header-bar>

  <ion-content>
    <div class="pager text-center energized">
      <i ng-if="slideIndex == 0"
         class="icon ion-ios-circle-filled">
      </i>
      <i ng-if="slideIndex == 1"
         class="icon ion-ios-circle-outline">
      </i>
      <i ng-if="slideIndex == 1"
         class="icon ion-ios-circle-filled">
      </i>
      <i ng-if="slideIndex == 0"
         class="icon ion-ios-circle-outline">
      </i>
    </div>
    <ion-slide-box show-pager="false" on-slide-changed="slideChanged(index)">
      <ion-slide ng-repeat="context in contexts">
        <ion-content>
        <div class="box">
          <div class="text-center">
            <h3 class='timi-list-title energized'>
              {{ context.title }}
            </h3>
          </div>
          <div class='list padding-medium'>
            <timi-event-card
              ng-repeat="event in context.get()"
              ng-model='event'>
            </timi-event-card>
          </div>
        </div>
        </ion-content>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
