<ion-view class="timi-home" ng-controller="HomeController">
  <!-- Header -->
  <ion-header-bar class='bar-positive' align-title="center">
    <button class="button button-clear button-energized icon ion-more"
            ng-click="goToSetting()"></button>
    <div class='title'>
    </div>
    <button class="button button-clear button-energized icon ion-compose"
            ng-click="goToCreate()"></button>
  </ion-header-bar>
  <ion-content>
    <label class="item timi-select">
      <select ng-model="idx">
        <option value="{{context.idx}}" ng-repeat="context in contexts">
          <i class="icon {{context.icon}}"></i> {{ context.title }}
        </option>
      </select>
    </label>
    <div class='list padding-medium'>
      <timi-event-card
        ng-repeat="event in contexts[idx].get()"
        ng-model='event'>
      </timi-event-card>
    </div>
  </ion-content>
</ion-view>
