<div class="timi-background-light">
  <ion-view class="row" ng-controller="LoginController">
    <div class="col col-center">
      <!-- Logo -->
      <div class="row timi-logo">
        <div class="col text-center padding-big">
          <img class="full-image" src="../assets/logo.png" />
        </div>
      </div>

      <!-- Login/Logout form -->
      <div class="row timi-login-form">
        <div class="col text-center">
          <div class="list">
            <label class="item item-input item-stacked-label">
              <input type="email"
                     ng-model="email"
                     placeholder="Email"
                     name='email'
                     validation='email:alt=Invalid email.|required:alt=Required.'
                     validation-error-to='email-error'>
            </label>
            <span id='email-error' class='timi-invalid'></span>
            <label class="item item-input item-stacked-label password">
              <input type="password"
                     ng-model="password"
                     ng-required="true"
                     ng-minlength="4"
                     placeholder="Password"
                     name='password'
                     validation='required:alt=Required.'
                     validation-error-to='password-error'>
            </label>
            <span id='password-error' class='timi-invalid'></span>
          </div>
        </div>
      </div>

      <!-- Login Button -->
      <timi-full-button color='light' ng-click='login()' ng-enabled='loginEnabled'>
        Login
      </timi-full-button>

      <!-- Login Using Google+ Button -->
      <timi-full-button color='energized' ng-click='loginGoogle()' ng-enabled='loginEnabled'>
        Login with Google+
      </timi-full-button>

      <!-- Forgot password && Sign up -->
      <div class="row timi-forgot-password-sign-up">
        <div class="col col-50">
          New here?
          <a href="/#/signup">Sign Up</a>
        </div>
      </div>
    </div>
  </ion-view>
</div>
