<div class="row" ng-controller="LoginController">
  <div class="col col-center">
    <!-- Logo -->
    <div class="row timi-logo">
      <div class="col text-center padding-big">
        <img class="full-image" src="../assets/logo.png" />
      </div>
    </div>

    <!-- Login/Logout form -->
    <div class="row timi-login-form">
      <div class="col text-center">
        <div class="list">
          <label class="item item-input item-stacked-label">
            <input type="email"
                   ng-model="email"
                   ng-required="true"
                   placeholder="Email">
          </label>
          <label class="item item-input item-stacked-label password">
            <input type="password"
                   ng-model="password"
                   ng-required="true"
                   ng-minlength="3"
                   ng-maxlength="10"
                   placeholder="Password">
          </label>
        </div>
      </div>
    </div>

    <!-- Login Button -->
    <timi-full-button color='light' ng-click='login()'>
      Login
    </timi-full-button>

    <!-- Login Using Google+ Button -->
    <timi-full-button color='assertive'>
      Login with Google+
    </timi-full-button>

    <!-- Forgot password && Sign up -->
    <div class="row timi-forgot-password-sign-up">
      <div class="col col-50">
        <a href="/#/forgot">Forgot password?</a>
      </div>
      <div class="col col-50">
        New here?
        <a href="/#/signup">Sign Up</a>
      </div>
    </div>
  </div>
</div>
