<div class="row" ng-controller="ForgotController">
  <div class="col col-center">
    <!-- Logo -->
    <div class="row timi-logo">
      <div class="col text-center padding-big">
        <img class="full-image" src="../assets/logo.png" />
      </div>
    </div>

    <!-- Forgot password message -->
    <div class="row timi-forgot-message">
      <div class="col text-center">
        <h1>Forgot Your Password?</h1>
          Enter your email address and we'll send you a link to
          reset your password.
      </div>
    </div>

    <!-- Login/Logout form -->
    <div class="row timi-login-form">
      <div class="col text-center">
        <div class="list">
          <label class="item item-input item-stacked-label">
            <input type="text"
                   ng-model="email"
                   placeholder="Email">
          </label>
        </div>
      </div>
    </div>

    <!-- Login Button -->
    <timi-full-button type='submit' ng-click='goToLogin()'>
      Send
    </timi-full-button>

    <!-- Forgot password && Sign up -->
    <div class="row timi-forgot-password-sign-up">
      <div class="col text-center">
        <a href="/#/login">Log in</a> |
        <a href="/#/signup">Sign Up</a>
      </div>
    </div>
  </div>
</div>
