<ion-view ng-controller="InvitationController">
  <ion-header-bar align-title="center" class="bar-energized">
    <div class="buttons">
      <button class="button button-clear"
              ng-click="backToHome()">Back</button>
    </div>
    <h1 class="title">Your Availability</h1>
    <div class="buttons">
      <button class="button button-clear"
              ng-click="backToHome()">Submit</button>
    </div>
  </ion-header-bar>
  <ion-content class="timi-invitation">
    <div class="padding-top">
      <timi-event-header></timi-event-header>
    </div>
    <div class="list padding-medium">
      <timi-slot-card ng-repeat="slot in slots" ng-model="slot">
      </timi-slot-card>
    </div>
  </ion-content>
</ion-view>
