<ion-view ng-controller="InvitationController">
  <ion-header-bar align-title="center" class="bar-positive">
    <div class="buttons">
      <button class="button button-clear button-energized"
              ng-click="backToHome()">Cancel</button>
    </div>
    <h1 class="title">
      {{ isPending ? 'Your Availability': '' }}
    </h1>
    <div class="buttons">
      <button ng-if="isPending"
              class="button button-clear button-energized"
              ng-click="backToHome()">Submit</button>
    </div>
  </ion-header-bar>
  <ion-content class="timi-invitation">
    <div class="padding-top">
      <timi-event-header></timi-event-header>
    </div>
    <div class="list padding-medium">
      <timi-slot-card ng-repeat="slot in slots" ng-model="slot">
      </timi-slot-card>
    </div>
  </ion-content>
</ion-view>
