<ion-view class="row" ng-controller="SignupController">
  <div class="col col-center">
    <!-- Logo -->
    <div class="row timi-logo">
      <div class="col text-center padding-big">
        <img class="full-image" src="../assets/logo.jpg" />
      </div>
    </div>

    <!-- Signup Form -->
      <div class="row timi-login-form">
        <div class="col text-center">
          <div class="list">
              <label class="item item-input item-stacked-label">
                <input type="text" ng-model="email" placeholder="Email">
              </label>
              <label class="item item-input item-stacked-label password">
                <input type="password" ng-model="password" placeholder="Password">
              </label>
          </div>
        </div>
      </div>

      <!-- Signup Button -->
      <timi-full-button color='light' type='submit' ng-click='signup()'>
        Sign Up
      </timi-full-button>

      <!-- Signup Using Google+ Button -->
      <timi-full-button color='assertive' type='submit'>
        Sign up with Google+
      </timi-full-button>

    <!-- Forgot password && Sign up -->
    <div class="row timi-forgot-password-sign-up">
      <div class="col text-center">
        Already a user?
        <a href="/#/login">Log in</a>
      </div>
    </div>
  </div>
</ion-view>
