<div class='row'>
  <div class='col text-center header'>
    <h3 class='positive'>Invite People</h3>
  </div>
</div>
<div class='row timi-stacked-form'>
  <div class='col'>
    <div class='list'>
      <label class='item item-input item-stacked-label'>
        <input ion-autocomplete
               type="text"
               readonly="readonly"
               class="ion-autocomplete"
               autocomplete="off"
               max-selected-items="1"
               placeholder="Attendee's Name or Email"
               item-value-key="id"
               item-view-value-key="info"
               items-method="getUser(query)"
               items-method-value-key="users"
               items-clicked-method="clickedMethod(callback)"
               ng-model="user"
               value="Attendee's Name or Email">
      </label>
    </div>
  </div>
</div>
<div class="row" ng-show='isError.participants'>
  <div class="col text-center">
    <div class="timi-invalid">
      Please add in participants.
    </div>
  </div>
</div>
<div class='row timi-participant-list'>
</div>
<div class='list'>
  <timi-person-card
    ng-repeat='participant in newEvent.participants'
    ng-model='participant'>
  </timi-person-card>
</div>
