<div class='row'>
  <div class='col text-center header'>
    <h3 class='positive'>Create Event</h3>
  </div>
</div>
<div class='row timi-inline-form'>
  <div class='col'>
    <div class='list'>
      <label class='item item-input'>
        <input type='text'
               name='title'
               placeholder='Title'
               ng-model='newEvent.name'
               validation='required:alt=Title is required.'
               validation-error-to='title-error'/>
      </label>
      <span id='title-error' class='timi-invalid'></span>
      <label class='item item-input'>
        <input type='text'
               name='location'
               placeholder='Location'
               ng-model='newEvent.location'
               id='autocomplete'
               ng-focus='geolocate()'
               ng-blur='autocompleteOnBlur()'/>
      </label>
      <label class='item item-input'>
        <span class='input-label'>Duration</span>
        <ionic-timepicker input-obj="timepickerDuration">
          <button class="button button-clear button-energized"
                  ng-disabled="autocompleteOnFocus == 'true'">
            {{ displayDuration(newEvent.duration) }}
          </button>
        </ionic-timepicker>
      </label>
    </div>
  </div>
</div>
<div class="row">
  <div class="col text-center">
    <h4 class='positive'>Invitees' Response Deadline</h4>
  </div>
</div>
<div class="timi-inline-form">
  <div class='row'>
    <label class='col-50 text-center'>
      <ionic-datepicker input-obj="datepickerDeadline">
        <button class="button button-clear button-energized">
          {{ formatDate(newEvent.deadline) }}
        </button>
      </ionic-datepicker>
    </label>
    <label class='col-50 text-center'>
      <ionic-timepicker input-obj="timepickerDeadline">
        <button class="button button-clear button-energized">
          {{ formatTime(newEvent.deadline) }}
        </button>
      </ionic-timepicker>
    </label>
  </div>
  <div class='row' ng-show="isError.deadline">
    <div class="col text-center">
      <span id='deadline-error' class='timi-invalid'>Deadline has already passed.</span>
    </div>
  </div>
</div>
