<div class='row'>
  <div class='col text-center header'>
    <h3 class='positive'>Add Available Dates</h3>
  </div>
</div>

<div class='row'>
  <label class='col-50 text-right'>
    <ionic-datepicker input-obj="datepickerStart">
      <button class="button button-clear button-energized">
        {{ formatDate(datepicker.startValue) }}
      </button>
    </ionic-datepicker>
  </label>
  <label class='col-50'>
    <ionic-datepicker input-obj="datepickerEnd">
      <button class="button button-clear button-energized">
        {{ formatDate(datepicker.endValue) }}
      </button>
    </ionic-datepicker>
  </label>
</div>
<div class='row'>
  <label class='col-50 text-right'>
    <ionic-timepicker input-obj="timepickerStart">
      <button class="button button-clear button-energized">
        {{ normalize(timepicker.startValue) }}
      </button>
    </ionic-timepicker>
  </label>
  <label class='col-50'>
    <ionic-timepicker input-obj="timepickerEnd">
      <button class="button button-clear button-energized">
        {{ normalize(timepicker.endValue) }}
      </button>
    </ionic-timepicker>
  </label>
</div>
<div class="row" ng-show='timepicker.invalid'>
  <div class="col text-center">
    <span id='timerange-error' class="timi-invalid">End time should be after start time</span>
  </div>
</div>

<div class='row'>
  <div class="col col-50">
    <button class='button button-outline button-energized button-block'
        ng-click='addTimeslot()'>
      Add
    </button>
  </div>
  <div class="col">
    <button class='button button-outline button-energized button-block'
        ng-click='clearTimeslot()'>
      Clear All
    </button>
  </div>
</div>

<div class="list">
  <timi-availability-card ng-repeat="slot in newEvent.timeslots" ng-model="slot">
  </timi-availability-card>
</div>
