<div class='row'>
  <div class='col text-center header'>
    <h3 class='energized'>Invite People</h3>
  </div>
</div>
<div class='row timi-stacked-form'>
  <div class='col'>
    <div class='list'>
      <label class='item item-input item-stacked-label'>
        <input type='text' placeholder="Attendee's Name or Email">
      </label>
    </div>
  </div>
</div>
<div class='row timi-participant-list'>
  <div class='col'>
    <h4 class='energized'>Participants<br/><small>Tick Compulsory Attendees</small></h4>
  </div>
</div>
<div class='list'>
  <timi-person-card
    ng-repeat='participant in participants'
    ng-model='participant'>
  </timi-person-card>
</div>
