<div class='row'>
  <div class='col text-center'>
    <h3>Create Event</h3>
  </div>
</div>
<div class='row timi-inline-form'>
  <div class='col'>
    <div class='list'>
      <label class='item item-input item-stacked-label'>
        <input type='text' placeholder='Title'>
      </label>
      <label class='item item-input item-stacked-label'>
        <input type='text' placeholder='Location'>
      </label>
      <label class='item item-input'>
        <span class='input-label'>Duration</span>
        <input type='text'>
      </label>
    </div>
  </div>
</div>

<div class='row'>
  <div class='col text-center'>
    <h4>Date Availability</h4>
  </div>
</div>
<div class='row timi-inline-form'>
  <div class='col'>
    <div class='list'>
      <label class='item item-input'>
        <span class='input-label'>From</span>
        <input type='text'>
      </label>
      <label class='item item-input'>
        <span class='input-label'>To</span>
        <input type='text'>
      </label>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col text-center'>
    <h4>Time Availability</h4>
  </div>
</div>
<div class='row timi-inline-form'>
  <div class='col'>
    <div class='list'>
      <label class='item item-input'>
        <span class='input-label'>From</span>
        <input type='text'>
      </label>
      <label class='item item-input'>
        <span class='input-label'>To</span>
        <input type='text'>
      </label>
    </div>
  </div>
</div>
