<ion-view ng-controller='CreateController' class="timi-create">
  <ion-header-bar align-title='center' class='bar-positive'>
    <div class='buttons'>
      <div ng-if='step == 1'>
        <button class='button button-clear button-energized' ng-click='backToHome()'>Return</button>
      </div>
      <div ng-if='step == 2'>
        <button class='button button-clear button-energized' ng-click='previous()'>Back</button>
      </div>
    </div>
    <div class='title timi-pager text-center'>
      <div ng-if='step == 1'>
        <span>&#106;&#107;</span>
      </div>
      <div ng-if='step == 2'>
        <span>&#117;&#107;</span>
      </div>
      <div ng-if='step == 3'>
        <span>&#117;&#118;</span>
      </div>
    </div>
    <div class='buttons'>
      <div ng-if='step == 1'>
        <button class='button button-clear button-energized' ng-click='next()'>Invite</button>
      </div>
      <div ng-if='step == 2'>
        <button class='button button-clear button-energized' ng-click='next()'>Finish</button>
      </div>
      <div ng-if='step == 3'>
        <button class='button button-clear button-energized' ng-click='backToHome()'>Home</button>
      </div>
    </div>
  </ion-header-bar>
  <ion-content>
    <div ng-if='step == 1'>
      <create-details></create-details>
    </div>
    <div ng-if='step == 2'>
      <create-participants></create-participants>
    </div>
    <div ng-if='step == 3'>
      <create-link></create-link>
    </div>
  </ion-content>
</ion-view>
