<ion-view class="timi-home" ng-controller="SettingsController">
  <!-- Header -->
  <ion-header-bar class='bar-positive' align-title="center">
    <button class="button button-clear button-energized"
            ng-click="backToHome()">Back</button>
    <div class='title'>
      Settings
    </div>
  </ion-header-bar>

  <ion-content>
    <div class="list">
      <div class="item item-divider">
        Schedule Data
      </div>
      <a class="item" href="#">
        NUSMods
        <span class="item-note">
          http://modsn.us/racU2
        </span>
      </a>
      <a class="item" href="#">
        Google Calendar
        <span class="item-note">
          Not connected
        </span>
      </a>
      <div class="item item-divider">
        Account Management
      </div>
      <a class="item item-icon-right" ng-click='logout()'>
        Logout
        <i class="icon ion-backspace energized"></i>
      </a>

    </div>
  </ion-content>
</ion-view>
