<div class="row">
  <div class="col col-center">
    <!-- Logo -->
    <div class="row timi-logo">
      <div class="col text-center padding-big">
        <img class="full-image" src="../assets/logo.jpg" />
      </div>
    </div>

    <!-- Login/Logout form -->
    <div class="row timi-login-form">
      <div class="col text-center">
        <div class="list">
          <label class="item item-input item-stacked-label">
            <input type="text" placeholder="First Name">
          </label>
          <label class="item item-input item-stacked-label password">
            <input type="text" placeholder="Last Name">
          </label>
        </div>
      </div>
    </div>

    <!-- Login Button -->
    <div class="row timi-login-button">
      <div class="col text-center">
        <button class="button button-light">
          Login
        </button>
      </div>
    </div>


    <!-- Login Using Google+ Button -->
    <div class="row timi-login-button">
      <div class="col text-center">
        <button class="button button-assertive">
          Login with Google+
        </button>
      </div>
    </div>

    <!-- Forgot password && Sign up -->
    <div class="row timi-forgot-password-sign-up">
      <div class="col col-50">Forgot password?</div>
      <div class="col col-50">
        New here?
        <a href="/signup">Sign Up</a>
      </div>
    </div>
  </div>
</div>
